<h2>Alta de estudio</h2>
<hr>
<form autocomplete="off" (ngSubmit)="onSubmit(formMedicoDerivante)" #formMedicoDerivante="ngForm" class="col-md-12">

    <div class="form-group row">
        <label class="col-2 col-form-label">Empleado</label>
        <div class="col-8">
            <select name="EMPLEADO" [(ngModel)]="seleccionado">
            <option [value]="empleado._id" *ngFor="let empleado of empleados">{{empleado.nombre}}</option>
            </select>
        </div>  
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Paciente</label>
        <div class="col-8">
            <select name="PACIENTE" [(ngModel)]="pacienteSeleccionado">
            <option [value]="paciente._id" *ngFor="let paciente of pacientes">{{paciente.nombre}}</option>
            </select>
        </div>  
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Médico Derivante</label>
        <div class="col-8">
            <select name="MEDICO" [(ngModel)]="medicoSeleccionado">
            <option [value]="medico._id" *ngFor="let medico of medicos">{{medico.nombre}}</option>
            </select>
        </div>  
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Tipo de Estudio</label>
        <div class="col-8">
            <select name="TIPO" [(ngModel)]="tipoSeleccionado">
            <option [value]="tipo._id" *ngFor="let tipo of tipos">{{tipo.nombre}}</option>
            </select>
        </div>  
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Diagnostico Presuntivo</label>
        <div class="col-8">
            <select name="DIAGNOSTICO" [(ngModel)]="diagnosticoSeleccionado">
            <option [value]="diagnostico._id" *ngFor="let diagnostico of diagnosticos">{{diagnostico.nombre}}</option>
            </select>
        </div>  
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Detalle</label>
        <div class="col-8">
  
          <input class="form-control"
                 #DETALLE="ngModel"
                 [ngModel]="estudio.DETALLE"
                 [class.is-invalid]="DETALLE.invalid && DETALLE.touched"
                 name="DETALLE"
                 type="text"
                 placeholder="Detalle del diagnóstico presuntivo"
                 required
                 minlength="2"
                 >
          <small
            *ngIf="(DETALLE.invalid && DETALLE.touched)"
            class="form-text text-danger">
              El nombre es obligatorio
          </small>
        </div>
      </div>


  <div class="form-group row">
    <div class="input-group col-md-10 mt-2 d-flex justify-content-end">
      <button class="btn btn-danger  col-3 mr-2" (click)="backNavigate()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-outline-primary  col-3 mt-0">
        Guardar
      </button>

    </div>
  </div>

</form>
