<div class="header headerAndAdd">
    <h2>Listado de Pacientes</h2>
    <!-- <button type="button" class="btn btn-success" (click)="addMedicoDerivante()"><img src="https://icongr.am/fontawesome/plus.svg?size=16&color=ffffff"/></button> -->
    <button type="button" class="btn btn-success" ><img src="https://icongr.am/fontawesome/plus.svg?size=16&color=ffffff"/></button>
      <!-- <div class="row">
      <div class="col-3">
        <p>Buscar Paciente</p>
      </div>
       <div class="col-6">
        <input aria-label="Search" type="search" placeholder="Buscar Estudio" class="form-control"
         (keyup)="buscarPaciente()" [(ngModel)]="search" >
      </div> 
    </div>

    <button type="button" class="btn btn-success" (click)="addPaciente()"><img src="https://icongr.am/fontawesome/plus.svg?size=16&color=ffffff"/></button> -->
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">idPaciente</th>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">obraSocial</th>
      <th scope="col">acciones</th>
    </tr>
  </thead>
  <!-- <tbody>
      <td>{{paciente.id}}</td>
      <td>{{paciente.nombre}}</td>
      <td>{{paciente.apellido}}</td>
      <td>{{paciente.obraSocial}}</td>
  </tbody> -->
</table>
