<div class="header headerAndAdd">
    <h2>Lista de Estudios</h2>
    <button type="button" class="btn btn-success" (click)="addEstudio()"><img src="https://icongr.am/fontawesome/plus.svg?size=16&color=ffffff"/></button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Paciente</th>
        <th scope="col">Medico derivante</th>
        <th scope="col">Tipo de Estudio</th>
        <th scope="col">Diagnóstico Presuntivo</th>
        <th scope="col">Detalle del diagnóstico</th>
        <th scope="col">Estado</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudio of estudios | slice: fromItem:toItem ">
        <td>{{estudio.paciente}}</td>
        <td>{{estudio.medico}}</td>
        <td>{{estudio.tipo}}</td>
        <td>{{estudio.tipoDiagnostico}}</td>
        <td>{{estudio.detalleDiagnostico}}</td>
        <td>{{estudio.estado}}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="verEstudio(estudio.id)"><img src="https://icongr.am/fontawesome/eye.svg?size=16&color=ffffff"/></button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="estudios.length"
                [pageSize]="pageSize"
                (page)="changePage($event)"
                >
  </mat-paginator>
  