<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-box task-detail">
                    <div class="media mt-0 m-b-30">
                        <div class="media-body">
                            <h5 class="media-heading mb-0 mt-0">Detalles de Estudio</h5><span class="badge badge-danger">{{estudio.estado.nombre}}</span></div>
                    </div>
                    <h4 class="m-b-20">Información general del estudio</h4>
                    <p class="text-muted">{{estudio.detalleDelDiagnostico}}</p>
                    <p class="text-muted">En este texto se podría ir incluyendo detalles relvantes junto con URLS que permitan recuperar datos de los estados anteriores</p>

                    <ul class="list-inline task-dates m-b-0 mt-5">
                        <li>
                            <h5 class="m-b-5">Fecha de Creación</h5>
                            <p>{{estudio.createdAt |date:'dd/MM/yyyy'}} </p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Medico Derivante</h5>
                            <p>{{estudio.medicoDerivante.email}}</p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Paciente</h5>
                            <p>{{estudio.paciente.email}}</p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Tipo de Estudio</h5>
                            <p><span class="badge badge-primary">{{estudio.tipoDeEstudio.nombre}}</span></p>
                        </li>
                        <li *ngIf="estudio.cantMililitosExtraidos">
                          <h5 class="m-b-5">Numero de frizer</h5>
                          <p>Número: {{estudio.numeroFrizer}}</p>
                          <p>Mililitros extraidos: {{estudio.cantMililitosExtraidos}}</p>
                        </li>
                        <li *ngIf="estudio.lote">
                          <h5 class="m-b-5">Lote</h5>
                          <p>ID: {{estudio.lote._id}}</p>
                          <p>En estado {{estudio.lote.estado}}</p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Diagnóstico Presuntivo</h5>
                            <p><span class="badge badge-secondary">{{estudio.diagnosticoPresuntivo.nombre}}</span></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Detalles del Diagnóstico Presuntivo</h5>
                            <p>{{estudio.detalleDelDiagnostico}}</p>
                        </li>
                        <li *ngIf="estudio.obraSocial">
                          <h5 class="m-b-5">Obra Social</h5>
                          <p>{{estudio.obraSocial.nombre}}</p>
                      </li>

                    </ul>

                    <div class="assign-team mt-4">
                        <h5 class="m-b-5">Acciones</h5>
                        <div>
                    

                    <!-- Ini BOTONES DE LEGADO -->
                    <a href="/api/descargar-presupuesto/{{estudio._id}}" *ngIf="estudioConEstado.verBotonBajarPresupuesto()" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info m-2" download>Descargar presupuesto</a>
                    <a href="/api/descargar-comprobante/{{estudio._id}}" *ngIf="estudioConEstado.verBotonBajarComprobanteDePago()" class="btn btn-primary m-2" download>Descargar comprobante de pago</a>
                    <a href="/api/descargar-cif/{{estudio._id}}" *ngIf="estudioConEstado.verBotonBajarCIF()" class="btn btn-primary m-2" download>Descargar consentimiento informado firmado</a>
                    <a href="/api/descargar-resultado-lote/{{estudio._id}}" *ngIf="estudio.lote.resultadoLoteFN" class="btn btn-primary m-2" download>Descargar resultados del lote</a>
                    <a href="/api/descargar-interpretacion-muestra/{{estudio._id}}" *ngIf="estudio.lote.interpretacionFN" class="btn btn-primary m-2" download>Descargar interpretacion de muestra</a>

                    
                    <button *ngIf="estudioConEstado.verBotonEntregado()" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info m-2">Los resultados fueron envidos al Medico Derivante</button>

                    <button (click)="estudioConEstado.reiniciarEstado(estudio._id,estudioService)" class="btn btn-danger m-2">Reiniciar estado <small class="text-muted">(test)</small></button>
                    <!-- CIF    descargar-consentimiento -->
                    <a href="/api/descargar-consentimiento/{{estudio._id}}" *ngIf="estudioConEstado.verBotonBajarCI()" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info m-2" download>Enviar consentimiento informado a paciente</a>
                    <!-- FIN CIF -->
                    <!-- Fin BOTONES DE LEGADO -->

                    <!-- Ini Comprobante de pago-->
                    <div class="input-group" *ngIf="estudioConEstado.verBotonSubirComprobanteDePago()">
                      
                      <div class="input-group-prepend">
                        <span  class="input-group-text upload"  (click)="upload(estudio._id)"  id="btnUpload">Subir comprobante de pago</span>
                      </div>

                      <div class="custom-file">
                          <form action="/api/upload" method="post" enctype="multipart/form-data">
                            <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                          </form>

                          <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
                      </div>

                    </div>
                    <!-- Fin Comprobante de pago -->

                    <!-- Ini CIF-->
                    <div class="input-group" *ngIf="estudioConEstado.verBotonSubirCIF()">
                      
                      <div class="input-group-prepend">
                        <span  class="input-group-text upload"  (click)="uploadCIF(estudio._id)"  id="btnUpload">Subir consentimiento informado firmado</span>
                      </div>

                      <div class="custom-file">
                          <form action="/api/upload-cif" method="post" enctype="multipart/form-data">
                            <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                          </form>

                          <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
                      </div>
                    </div>
                    <!-- Fin CIF-->

                    <!-- Ini seleccion de turno-->
                    <form *ngIf="estudioConEstado.verBotonSeleccionarTurno()" (ngSubmit)="registrarTurno()">
                    
                      <label for="">Selección de turno</label><br>
                      <input 
                      (change)="guardaFecha($event.target)"
                      type="date" id="datepicker" name="trip-start"
                      value="2018-07-22"
                      min="{{minDate}}">

                      <select *ngIf="fechaSeleccionada" name="turnosDisponibles" id="turnosDisponibles" (change)="seleccionarTurno($event.target)">
                        <option [value]="fechaDisponible" *ngFor="let fechaDisponible of fechasDisponibles" value="una fecha"> {{ fechaDisponible | date:'hh:mm'}}</option>
                      </select>

                      <button *ngIf="turnoSeleccionado" type="submit">Seleccionar turno</button>
                    </form>
                    <!-- Fin seleccion de turno-->

                    <!-- Toma de muestra ini -->
                    <div *ngIf="estudioConEstado.verBotonMuestraTomada()">
              
                      <label for="">Cantidad de mililitros extraidos</label><br>
                      <input 
                      (change)="guardaMililitros($event.target)"
                      type="number" id="mililitros" name="mililitros"
                      value="5" step="0.5"
                      min="5" max="12.5"><br>
                      <label for="">Numero frizer</label><br>
                      <input 
                      (change)="guardaNumeroFrizer($event.target)"
                      type="number" id="frizer" name="frizer"
                      value="0"
                      min="1" max="500">

                      <br>
                      <button *ngIf="mililitrosExtraidos && numeroFrizer" (click)="guardaTomaDeMuestra()">Cargar datos de muestra</button>
                    </div>
                    <!-- Toma de muestra fin -->

                    <!-- Procesamiento de lote ini -->
                    <button *ngIf="estudioConEstado.verBotonMuestraRetirada()" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info m-2">Muestra retirada</button>
                    <p *ngIf="estudioConEstado.verBotonInciarProcesamiento() && estudio.lote && estudio.lote.cantEstudios < 10">Se está esperando reunir 10 estudios en el lote para poder iniciar el procesamiento. Por ahora hay {{estudio.lote.cantEstudios}}</p>
                    <button *ngIf="estudioConEstado.verBotonInciarProcesamiento() && estudio.lote && estudio.lote.cantEstudios == 10" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info m-2">Iniciar procesamiento</button>
                    <!-- Procesamiento de lote fin -->


                    <!-- Ini Subir resultado del lote -->
                    <button *ngIf="estudioConEstado.verBotonSubirResultado()" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info m-2">Subir resultado del lote</button>
                    
                    <div class="input-group" *ngIf="estudioConEstado.verBotonSubirResultado()">
                      
                      <div class="input-group-prepend">
                        <span  class="input-group-text upload"  (click)="uploadResultadoLote(estudio._id)"  id="btnUploadResLote">Subir resultado del lote</span>
                      </div>

                      <div class="custom-file">
                          <form action="/api/upload-resultado-lote" method="post" enctype="multipart/form-data">
                            <input (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                          </form>

                          <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
                      </div>
                    </div>
                    <!-- Fin Subir resultado del lote -->

                    <!-- Ini Subir interpretacion de muestra -->
                    <button *ngIf="estudioConEstado.verBotonSubirInterpretacion()" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info m-2">Subir interpretación de resultado</button>

                    
                    <div class="input-group" *ngIf="estudioConEstado.verBotonSubirInterpretacion()">
                      
                      <div class="input-group-prepend">
                        <span  class="input-group-text upload"  (click)="uploadInterpretacion(estudio._id)"  id="btnUploadResLote">Subir interpretacion de muestra</span>
                      </div>

                      <div class="custom-file">
                          <form action="/api/upload-interpretacion-muestra" method="post" enctype="multipart/form-data">
                            <input (change)="fileChange($event)" type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                          </form>

                          <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
                      </div>
                    </div>
                    <!-- Fin Subir interpretacion de muestra -->
                          </div>
                    </div>

                </div>

            </div>
            <!-- end col -->
            <div class="col-12 col-md-12">
              <h4 class="header-title m-b-30">Historial del Estudio</h4>

              <table style="width: 100%;" >
                <thead>
                  <tr>
                    <th>
                      <strong> Estado Acctual:</strong>
                    </th>
                    <th>
                      <strong>fecha inicio:</strong>
                    </th>
                    <th>
                      <strong>fecha fin:</strong>
                    </th>
                    <th>
                      <strong>Usuario:</strong>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let historia of listas">
                    <td>
                      <a>{{historia.estado.nombre}}</a>
                    </td>
                    <td>
                      <a>{{historia.fechaInicio |date:'dd/MM/yyyy' }}</a>
                    </td>
                    <td>
                      <a>{{historia.fechaFin |date:'dd/MM/yyyy'}}</a>
                    </td>
                    <td>
                      <a>{{historia.user.email}}</a>
                    </td>
                  </tr>
                </tbody>

              </table>
              <button class="btn btn-primary" (click)="backNavigate()">
                Volver
              </button>

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>

