<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-box task-detail">
                    <div class="media mt-0 m-b-30">
                        <div class="media-body">
                            <h5 class="media-heading mb-0 mt-0">Detalles de Estudio</h5><span class="badge badge-danger">Esperando consentimiento informado firmado</span></div>
                    </div>
                    <h4 class="m-b-20">Información general del estudio</h4>
                    <p class="text-muted">{{estudio.detalleDelDiagnostico}}</p>
                    <p class="text-muted">En este texto se podría ir incluyendo detalles relvantes junto con URLS que permitan recuperar datos de los estados anteriores</p>

                    <ul class="list-inline task-dates m-b-0 mt-5">
                        <li>
                            <h5 class="m-b-5">Fecha de Creación</h5>
                            <p>{{estudio.createdAt}} <small class="text-muted">1:00 PM</small></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Medico Derivante</h5>
                            <p>{{estudio.medicoDerivante.email}}</p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Paciente</h5>
                            <p>{{estudio.paciente.email}}</p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Tipo de Estudio</h5>
                            <p><span class="badge badge-primary">{{estudio.tipoDeEstudio.nombre}}</span></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Diagnóstico Presuntivo</h5>
                            <p><span class="badge badge-secondary">{{estudio.diagnosticoPresuntivo.nombre}}</span></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Detalles del Diagnóstico Presuntivo</h5>
                            <p>{{estudio.detalleDelDiagnostico}}</p>
                        </li>

                    </ul>

                    <div class="assign-team mt-4">
                        <h5 class="m-b-5">Opciones para estado actual</h5>
                        <div>
                            <button *ngIf="estudioConEstado.verBotonBajarPresupuesto()" (click)="estudioConEstado.siguiente(estudio._id,estudioService)" class="btn btn-info">Descargar presupuesto</button>
                            <button *ngIf="estudioConEstado.verBotonBajarCI()" class="btn btn-info ml-2">Descargar consentimiento informado</button>
                        </div>
                    </div>
                    <div class="attached-files mt-4">
                        <h5 class="m-b-5">Opciones para estado actual</h5>
                        <div>
                            <button class="btn btn-success">Subir consentimiento informado firmado</button>
                        </div>

                    </div>

                </div>
                <button class="btn btn-primary" (click)="backNavigate()">
                    Volver
                  </button>
            </div>
            <!-- end col -->
            <div class="col-12 col-md-12">
              <h4 class="header-title m-b-30">Historial del Estudio</h4>
                <div class="card-box">
                    <h4 class="header-title m-b-30">Historial del Estudio</h4>
                    <div>
                        <p> Completó el estado "nombre de algún estado"
                            10/11/2021 - 10/12/2021
                            Usuario: "ddsadsa@gmail.com"
                        </p>
                    </div>
                    <div>
                        <p> Completó el estado "nombre de algún estado"
                            10/11/2021 - 10/12/2021
                            Usuario: "ddsadsa@gmail.com"
                        </p>
                    </div>
                </div>
              <table style="width: 60%;">
                <thead>
                  <tr>
                    <th>
                      <strong>Completó el Estado:</strong>
                    </th>
                    <th>
                      <strong>fecha inicio:</strong>
                    </th>
                    <th>
                      <strong>fecha fin:</strong>
                    </th>
                    <th>
                      <strong>Usuario:</strong>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>
                      <a></a>
                    </td>
                    <td>
                      <a>{{estudio.createdAt}}</a>
                    </td>
                    <td>
                      <a></a>
                    </td>
                    <td>
                      <a>{{estudio.paciente.nombre}}</a>
                    </td>
                  </tr>
                </tbody>

              </table>

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
