<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-box task-detail">
                    <div class="media mt-0 m-b-30">
                        <div class="media-body">
                            <h5 class="media-heading mb-0 mt-0">Detalles de Estudio</h5><span class="badge badge-danger">Estado actual</span></div>
                    </div>
                    <h4 class="m-b-20">Información general del estudio</h4>
                    <p class="text-muted">En este texto se podría ir incluyendo detalles relvantes junto con URLS que permitan recuperar datos de los estados anteriores</p>
                    
                    <ul class="list-inline task-dates m-b-0 mt-5">
                        <li>
                            <h5 class="m-b-5">Fecha de Creación</h5>
                            <p>01 December 2017 <small class="text-muted">1:00 PM</small></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Medico Derivante</h5>
                            <p>Juan Perez</p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Paciente</h5>
                            <p>Miguel Sanchez</p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Tipo de Estudio</h5>
                            <p><span class="badge badge-primary">Tipo de estudio</span></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Diagnóstico Presuntivo</h5>
                            <p><span class="badge badge-secondary">Diagnostico Presuntivo</span></p>
                        </li>
                        <li>
                            <h5 class="m-b-5">Detalles del Diagnóstico Presuntivo</h5>
                            <p>acá va un texto largo como este lles relvantes junto con URLS que permitan recuperar datos de los</p>
                        </li>

                    </ul>
                   
                    <div class="assign-team mt-4">
                        <h5 class="m-b-5">Opciones para estado actual</h5>
                        <div>
                            <button>Opción 1</button>
                            <button>Opción 2</button>
                            <button>Opción 3</button>
                            <button>Opción 4</button>
                        </div>
                    </div>
                    <div class="attached-files mt-4">
                        <h5 class="m-b-5">Opciones para estado actual</h5>
                        <div>
                            <button>Opción 1</button>
                            <button>Opción 2</button>
                            <button>Opción 3</button>
                            <button>Opción 4</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="header-title m-b-30">Historial del Estudio</h4>
                    <div>
                        <p> Completó el estado "nombre de algún estado"
                            10/11/2021 - 10/12/2021 
                            Usuario: "ddsadsa@gmail.com"
                        </p>
                    </div>
                    <div>
                        <p> Completó el estado "nombre de algún estado"
                            10/11/2021 - 10/12/2021 
                            Usuario: "ddsadsa@gmail.com"
                        </p>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>