<h4><small> Crear Empleado</small> </h4>
<form autocomplete="off"  >
  <div>
    <div class="form-group row">
        <label>Nombre</label>

      <div class="col-8">
        <input class="form-control" name="" type="">

      </div>
    </div>
    <div class="form-group row">
      <label>Apellido</label>

    <div class="col-8">
      <input class="form-control" name="" type="">

    </div>
  </div>
  <div class="form-group row">
    <label>Telefono</label>

  <div class="col-8">
    <input class="form-control" name="" type="">

  </div>
</div>
  </div>
</form>

