
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">G3-LAB </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <!-- Botones de ADMIN -->
          <li class="nav-item" *ngIf="authService.loggedAsAdmin()">
            <a class="nav-link " aria-current="page" routerLink="/alta-medico-derivante" routerLinkActive="active">Ejemplo-Boton-Admin</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedAsAdmin()">
            <a class="nav-link " aria-current="page" routerLink="/alta-empleado" routerLinkActive="active">Gestionar Empleados</a>
          </li>

          <!-- Botones de CONFIGURADOR -->
          <li class="nav-item" *ngIf="authService.loggedAsConfigurador()">
            <a class="nav-link " aria-current="page" routerLink="/medicos-derivantes" routerLinkActive="active">Gestionar Médicos derivantes</a>
          </li>

          <!-- Botones de EMPLEADO -->
          <li class="nav-item" *ngIf="authService.loggedAsEmpleado()">
            <a class="nav-link " aria-current="page" routerLink="" routerLinkActive="active">Empleado</a>
          </li>

          <!-- Botones de PACIENTE -->
          <li class="nav-item" *ngIf="authService.loggedAsPaciente()">
            <a class="nav-link " aria-current="page" routerLink="/alta-medico-derivante" routerLinkActive="active">Ejemplo-Boton-Paciente</a>
          </li>


        </ul>



        <!-- Botones de perfil -->
        <ul class="navbar-nav mr-auto">
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="/registrar" routerLinkActive="active">Registrarme</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="/ingresar" routerLinkActive="active">Ingresar</a>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <li class="nav-item">
              <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Cerrar sesión</a>
            </li>
          </ng-template>
        </ul>


      </div>
    </div>
  </div>
</nav>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer style="position: fixed; bottom:0; background-color: #78C2AD; width: 100%; left: 0;  text-align: center; color: #ffff; height: 6%; font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; ">
  Copyright 2021 
</footer>
<!-- Footer -->
