<div class="container">



    <div class="row">
        <div class="col-md-6 text-center">
            <img src="../../../assets/laboratorio-arte-conceptual-1.jpg" alt="arte conceptual de un laboratorio">
        </div>
        <div class="col-md-6 text-center my-auto">
            <h1>
                G3 LAB
            </h1>
            <p>
                Al servicio de tu salud.
            </p>
            <!--button class="btn btn-secondary">
                ¿Quienes somos?
            </button-->
        </div>
    </div>


    <div class="row flex-row-reverse">
        <div class="col-md-6 text-center">
            <img src="../../../assets/laboratorio-arte-conceptual-2.jpg" alt="arte conceptual de un laboratorio">
        </div>
        <div class="col-md-6 text-center my-auto">
            <h1>
                Entérate las novedades
            </h1>
            <p>
               
            </p>
            <!--button class="btn btn-secondary">
                ¿Quienes somos?
            </button-->
        </div>
    </div>
    
    


    <div class="row">
        <div class="col-md-6 text-center">
            <img src="../../../assets/teniendo-tubos.jpg" alt="arte conceptual de un laboratorio">
        </div>
        <div class="col-md-6 text-center my-auto">
            <h1>
                ¡Contactanos!
            </h1>
            <p>

            </p>
            <!--button class="btn btn-secondary">
                ¿Quienes somos?
            </button-->
        </div>
    </div>
</div>
<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 font-weight-light">
            </div>
        </div>

    </div>
</footer>