<h4> <small></small> Crear Paciente <small></small></h4>
<form autocomplete="off" (ngSubmit)="onSubmit(formPaciente)" #formPaciente="ngForm"  >

  <div class="form-group row" *ngIf="editMode">
    <label class="col-2 col-form-label">ID</label>
    <div class="col-8">

      <input class="form-control"
            #_id="ngModel"
            [ngModel]="user._id"
            disabled
            [class.is-invalid]="_id.invalid && _id.touched"
            name="id"
            type="text"
            >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-8">

      <input class="form-control"
             #name="ngModel"
             [ngModel]="user.name"
             [class.is-invalid]="name.invalid && name.touched"
             name="name"
             type="text"
             placeholder="Nombre"
             required
             minlength="2"
             >
      <small
        *ngIf="(name.invalid && name.touched)"
        class="form-text text-danger">
          El nombre es obligatorio
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">

      <input class="form-control"
             #surname="ngModel"
             [ngModel]="user.surname"
             [class.is-invalid]="surname.invalid && surname.touched"
             name="surname"
             type="text"
             placeholder="Apellido"
             required
             >
      <small
        *ngIf="name.invalid && name.touched"
        class="form-text text-danger">
          Apellido es obligatorio y debe tener al menos 5 letras
      </small>
    </div>
  </div>

<div class="form-group row">
  <label class="col-2 col-form-label">FechaDeNacimiento</label>
  <div class="col-8">

    <input class="form-control"
           #email="ngModel"
           [ngModel]="user.date"
           name="fecha"
           type="date"
           required
           >
  </div>
</div>

<div class="form-group row">
  <label class="col-2 col-form-label">Obra social</label>
  <div class="col-8">
      <select name="Obra social">
      <option [value]=""></option>
      </select>
  </div>  
</div>

<div class="form-group row">
  <label class="col-2 col-form-label">Diagnostico Presuntivo</label>
  <div class="col-8">
      <select name="DIAGNOSTICO">
      <option [value]=""></option>
      </select>
  </div>  
</div>

<div class="form-group row">
  <div class="input-group col-md-10 mt-2 d-flex justify-content-end">
    <button class="btn btn-danger  col-3 mr-2" (click)="backNavigate()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-outline-primary  col-3 mt-0">
      Guardar
    </button>

  </div>
</div>
</form>
