<div class="header headerAndAdd">
  <h2>Lista de Estudios</h2>
  <!-- <div class="row">
    <div class="col-3">
      <p>Buscar Estudio</p>
    </div>
    <div class="col-6">
      <input aria-label="Search" type="search" placeholder="Buscar Estudio" class="form-control"
        (keyup)="buscarEstudio()" [(ngModel)]="search">
    </div>
  </div> -->

  <!-- <button type="button" class="btn btn-success" (click)="addEstudio()"><img src="https://icongr.am/fontawesome/plus.svg?size=16&color=ffffff"/></button> -->
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Medico derivante</th>
      <th scope="col">Tipo de Estudio</th>
      <th scope="col">Diagnóstico Presuntivo</th>
      <th scope="col">Detalle del diagnóstico</th>
      <th scope="col">Detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudio of estudios | slice: fromItem:toItem ">
      <td>{{estudio.medico}}</td>
      <td>{{estudio.tipo}}</td>
      <td>{{estudio.tipoDiagnostico}}</td>
      <td>{{estudio.detalleDiagnostico}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="verEstudio(estudio.id)"><img
            src="https://icongr.am/fontawesome/eye.svg?size=16&color=ffffff" /></button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="estudios.length" [pageSize]="pageSize" (page)="changePage($event)">
</mat-paginator>