<h1>Reportes sobre estudios</h1>
<br>
<br>
<table>
    <tr>
        <td>
            <h2> Estudios por estado</h2>
            <p>El siguiente informe presenta columnas con la <b>cantidad</b> de estudios que actualmente se encuentran en cada uno de los estados</p>
        </td>
        <td>
            <ngx-charts-bar-vertical [results]="estados" ></ngx-charts-bar-vertical>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <h2>Ingresos por mes</h2>
            <p>El siguiente informe presenta los <b>ingresos por mes</b>, contando el valor acumulado de los estudios iniciados durante los días del mes</p>
        </td>
        <td>
            <ngx-charts-line-chart [results]="ganancias"></ngx-charts-line-chart>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <h2>Duración de estudios</h2>
            <p>El siguiente diagrama presenta la <b>duración</b> de los estudios, desde que se crean hasta que se entregan. Es un <b>promedio anual</b>.</p>
            <p>De momento se comparan precios de estudios en lugar de duraciones</p>
        </td>
        <td>
            
            <ngx-charts-box-chart [results]="duraciones"></ngx-charts-box-chart>
        </td>
    </tr>
</table>